{% extends 'ZLIntegrationBundle::main_layout.html.twig' %}

{% block body %}

    <script>
        $('#test a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>

	<div class="navbar navbar-inverse ">
	    <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Basecamp todos</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
	</div>

	<div class="container">
        <div class="row">
            <div class="span3">
                <ul class="nav nav-tabs" id="test">
                    <li><a href="#login" data-toggle="login">Login</a></li>
                    <li><a href="#register" data-toggle="register">Register</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="login">
                        <form action="{{ path('login') }}" method="post">
                            <label>Login</label>
                            <input type="text" name="login" placeholder="login"/>
                            <label>Password</label>
                            <input type="password" name="password" placeholder="password"/>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="register">
                        <form action="{{ path('login') }}" method="post">
                            <label>Login</label>
                            <input type="text" name="login" placeholder="login"/>
                            <label>Password</label>
                            <input type="password" name="password" placeholder="password"/>
                            <label>Repeat</label>
                            <input type="password" name="password" placeholder="password"/>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
             </div>

			</div>
        </div>
			<div class="span4">
                <img alt="todo"></img>
			</div>


		</div>
        <div class="row">
            <div class="span3 well">

                <legend>1. Login</legend>
            </div>
            <div class="span3 well">
                <legend>2. Connect</legend>
            </div>
            <div class="span3 well">
                <legend>3. Napierdalaj!</legend>
            </div>
        </div>
		</div>
{% endblock %}