{% extends 'ZLIntegrationBundle::main_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row" style="text-align: center">

            <div class="span8" style="width:100%">

            <h1>Cześć! Co dziś będziesz robił?</h1>

            <p class="lead">Kliknij w któryś z projektów, żeby zobaczyć zadania</p>

            </div>
        </div>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {% for project in projects %}

                    <li><a href="#{{ project.details.id }}" data-toggle="tab">{{ project.details.name }}</a> </li>

                {% endfor %}

            </ul>
        <div class="tab-content">
            {% for project in projects %}
                <div class="tab-pane" id="{{ project.details.id }}">

                {% for list in project.lists %}

                    <p>{{ list.list.name }}</p>


                {% endfor %}

                </div>
            {% endfor %}

        </div>
        </div>





{% endblock %}
